<nav class="bg-black">
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5 class="text-white">QUICK LINKS</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">All Shows</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">All Movies</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">All Episodes</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Schedule</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">AMC Talk</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">TWDU</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">AMC Shop</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">TWDU Shop</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class="text-white">WAYS TO WATCH</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">IOS App</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Andrioid App</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Apple TV</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Fire TV</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Roku</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">AMC Plus</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class="text-white">Need Help?</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="http://support.amc.com/en/support/solutions/folders/11000016703"
             class="nav-link p-0 text-white">FAQs</a></li>
        </ul>
      </div>
    </footer>
  </div>
  <p class="text-center text-white">© 2022 Company, Inc</p>
  </nav>