
<nav class="navbar navbar-expand navbar-white bg-black">

    <div class="d-flex flex-wrap mb-3 align-items-end">
        <div class="p-2">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="p-2 allign-items-end">
            <a class="navbar-brand" href="#">
                <img src="https://cdn.amcnetworks.com/amc/theme/web/amc_logo_bk_bg.png" alt="Network Logo" title="Network Logo" loading="lazy"
                 width="60" height="48">
            </a>
        </div>
        <div class="p-2">
                <a class="nav-link text-white" style="font-family: Helvetica;"
                 href="https://www.amc.com/schedule??tz=ET&from=2023-02-04"><b>Schedule</b></a>
        </div>
        <div class="p-2">
            <a class="nav-link text-white" style="font-family: Helvetica;"
             href="/blogs"><b>AMC Talk</b></a>
        </div>
        <div class="p-2">
            <a class="nav-link text-white" style="font-family: Helvetica;"
            href="https://shop.amc.com/?utm_source=amc&amp;utm_medium=referral&amp;utm_campaign=shop&amp;utm_content=desktop-nav-link">
            <b>AMC SHOP</b></a>
        </div>
        <div class="p-2">
            <a class="nav-link text-white"
             href="/twdu" style="font-family: Helvetica;" ><b>TWDU</b></a>
        </div>
        <div class="p-2">
            <a class="nav-link"
            href="https://www.amcplus.com?utm_medium=referral&amp;utm_source=amc.com&amp;utm_campaign=amc-plus&amp;utm_term=top-navigation" 
            style="font-family: Helvetica; color:turquoise;"><b>GET AMC+</b></a>
        </div>
      </div>
      <div class="navbar-item ms-auto">
        <a class="nav-link text-white" style="font-family: Helvetica;" href="https://www.amc.com/tve?redirect=https%3A%2F%2Fwww.amc.com%2F">
        <b>Sign In</b></a>
    </div>
</nav>